<section class="bg-image-aboutUs-top">
  <div class="container">
    <div class="row">
      <div class="about-banner">
        <h2>About sprucefare</h2>
      </div>
    </div>
  </div>
</section>

<section class="about-sec-aboutus">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
        <div class="deal-txt">
          <div class="heading">
            <span>About</span>
            <h3>Sprucefare</h3>
          </div>

          <p>
            An authorized travel agency with headquarters in the USA, Sprucefare
            collaborates with all respectable and significant domestic and
            international airlines. We specialize in finding the best airline
            bargains for our clients, making air travel incredibly reasonable
            for them.
          </p>
          <p>
            Our team includes some highly qualified professional travel experts
            who help to shape the business dynamics. They have assisted us in
            making connections and negotiating with all the main domestic and
            foreign airlines, luxury hotels, rental car agencies, and tour
            operators. This is the reason we are able to offer our consumers
            some unique, low-cost deals that are definitely not accessible
            anywhere else. Our entire travel booking offers are also pretty
            exceptional in terms of the rates we have to offer. Since you
            understand our vision, why go anywhere else?
          </p>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <div class="why-book">
          <img src="assets/images/about-img.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-sec-aboutus">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="deal-txt">
          <div class="heading">
            <h4>Services</h4>
          </div>

          <p>
            Just what we've mentioned, we give our consumers the lowest pricing
            possible on all of these services: flights, holiday packages,
            hotels, and car rentals. This simply ensures that your entire
            travelling experience is smooth and moist importantly, memorable.
          </p>
          <p>
            Our business can assist you in securing some of the most incredible
            bargains with top names in the airline and travel sectors. With
            years of experience in the travel industry, our trip experts work
            tirelessly to exceed your expectations by offering you value-added
            services, profitable ticket bargains, and other offers you just
            CANNOT refuse!
          </p>
          <p>
            Calling our travel specialists will ensure guaranteed and
            satisfactory solutions. They are available to help you whenever you
            need, whether it's to make a flight reservation or to make
            adjustments or cancellations. They'll offer you guidance and
            solutions like no one else!
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="deal-txt">
          <div class="heading">
            <h4>Mission</h4>
          </div>

          <p>
            We concentrate on combining the most recent travel technologies with
            devoted customer care to provide our customers with the finest
            possible travel experience at the most affordable price. It is
            indeed the secret tactic we have been doing for years, and it has
            yielded happy clients who have remained committed to us for all the
            good reasons.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
