<section class="bg-image-terms bg-image-aboutUs-top">
  <div class="container">
    <div class="row">
      <div class="about-banner">
        <h2>Cancellation &amp; Refund Policy</h2>
      </div>
    </div>
  </div>
</section>

<section id="tour_details_main" class="section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="terms_service_content">
          <div class="terms_item">
            <h4>Cancellations and refund policy</h4>
            <p>
              For a little price, you can cancel your flight reservation on
              Sprucefare's website without any inconvenience. Before you decide
              to cancel your flight ticket, we urge you to study the
              Cancellation Policy of the relevant airline. Read on to understand
              all the factors better.
            </p>
          </div>
          <div class="terms_item">
            <h4>Flight Cancellation Policy</h4>
            <ul>
              <li>
                Any airline typically provides a window of 24 hours following
                the passenger's flight reservation. The airline may not charge a
                cancellation fee if you cancel your flight reservation within
                the first 24 hours of making the reservation.
              </li>
              <li>
                There are some tickets that are not refundable. These tickets
                won't be refundable or subject to cancellation. To avoid
                last-minute disappointments, it is preferable to verify the
                ticket restrictions when making reservations.
              </li>
              <li>
                There will be a cancellation fee if you want to cancel a ticket
                that is part of a package that also includes hotel
                accommodations, vehicle rentals, tour services, etc.
              </li>
              <li>
                The cancellation cost may always change depending on the
                flight's destination, place of departure, booked fare class,
                time of cancellation, etc.
              </li>
              <li>
                The airline will charge the whole amount if you don't cancel the
                flight ticket and don't even join the aircraft.
              </li>
            </ul>
          </div>
          <div class="terms_item mt-3">
            <h4>Refund Policy</h4>
            <ul>
              <li>
                If you decide not to go, you must cancel your reservation at
                least 24 hours before the flight is due to depart in order to
                receive a refund (applicable on refundable tickets). Please be
                aware that you will only receive the refund after paying any
                necessary cancellation fees. The refund and cancellation
                policies are also subject to change without prior notice
              </li>
            </ul>
            <p class="mt-2">
              Contact Spucefare's customer care team to choose the simple
              cancellation and refund option for your flight ticket. When you
              dial +1-888-316-7360, a person will be at your service to assist
              you in easily cancelling your flight tickets. To properly cancel
              your reservations, you might need to provide the agent with some
              information, such as your last name or the reservation's reference
              code. You can also ask the person to speak with the appropriate
            </p>
            <p>
              airline on your behalf and request a refund. There is no easier
              way to handle the cancellation and refund of tickets than this.
              Check out Sprucefare right away!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
