<section class="bg-image-terms">
    <div class="container">
      
          <div class="row ">
            <div class="about-banner">
                <h2>Privacy Policy</h2>
            </div>
          </div>
 
    </div>
  </section>


  
  <section id="tour_details_main" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="terms_service_content">
                    <div class="terms_item">
                        <h4>PRIVACY POLICY</h4>
                        <p>
                            Sprucefare values your confidence in us and wants you to understand how we gather, utilize, and disclose information. These agreements, which are referred to legally as Privacy Policy, describe our practices about the data we collect through the websites that are made available to us so that we may always provide you with our support. You agree to the following policies' terms and conditions by providing us your Personal Information.
                        </p>
                        <p>
                            We collect Personal Information, which is information that identifies you as a unique person. The following verticals are included:
                        </p>
                        <ul>
                            <li>Name</li>
                            <li>Mailing Address</li>
                            <li>Mobile Number</li>
                            <li>Contact Email</li>
                            <li>Passport Reference</li>
                            <li>ID of a social media account</li>
                            <li>Number of a credit or debit card and any necessary details</li>
                            <li>Further information you provide us with when you communicate or confirm your travel plans with us includes your flight/s, cuisine preference/s, and details about your reservations, such as the point/s of departure and destination/s.</li>
                        </ul>

                        <p>Even when you give us or our service providers access to another person's personal information in order to utilize our services, you demonstrate that you are doing so with full power, full accountability, and approval to use the information in accordance with our Privacy Policy.</p>
                        <p>The following methods may be used by us and our third-party service providers to collect personal data:</p>
                        <ul>
                            <li>Using the Services: When you make a reservation or sign up for a promotion, for instance, we may collect Personal Information through the Services.</li>
                            <li>Offline: When you contact customer service or we get in touch with you to ask for your personal information, we may gather Personal Information from you offline.</li>
                            <li>Through Other Sources: We may obtain your Personal Information from a variety of sources, including as public databases, computer files, joint marketing partners, social media accounts (including those of people you are friends with or otherwise connected to), and other third parties (obviously, to the degree allowed by related law).</li>
                        </ul>
                    </div>
                    <div class="terms_item">
                        <h4>How Your Information Is Used?
                        </h4>
                        <p>
                            We use the personal data we gather about you for a number of commercial objectives, some of which are listed below.
                        </p>
                        <ul>
                            <li>To complete and manage your reservations or purchases (including the handling of payments) and communicate with you about them. You have the option of contacting our customer service. In order to book your travel, we will also need your passport number</li>
                            <li>To answer to your questions and requests, such as sharing the most recent flight updates with you.</li>
                            <li>To communicate with you about administrative matters, such as updates to our terms, conditions, and policies.</li>
                            <li>To show advertisements related to your interests (and cooperate with third parties that do).</li>
                            <li>To enquire about customer opinions on our services.</li>
                            <li>To personalize your interaction with us, enable you to take part in promotions, sweepstakes, and competitions, and to manage these events. Additional guidelines governing how we can use and disclose your Personal Information may apply to these activities. Please read over all of the given rules before participating.</li>
                            <li>In order to support social sharing capabilities.</li>
                            <li>To enable you to communicate with someone else via the Services. By using this feature, you guarantee to us that you are authorized to give us the other person's name and email address.</li>
                            <li>For commercial goals, such as data analysis, fraud monitoring and prevention, the creation of new services, gauging the success of marketing initiatives, spotting patterns in usage, enhancing our offerings, and extending our company operations.</li>
                        </ul>
                        <p>In addition to the above mentioned points, keep in mind that all information is processed with your permission, in accordance with the law, and exclusively for our own legitimate business purposes.</p>
                    </div>
                    <div class="terms_item">
                        <h4> Where Is This Information Shared?</h4>
                        <p>
                            We share your personal information with our business affiliates and service suppliers. You must keep in mind, nevertheless, that we have no control over the aforementioned organizations, and any information shared with them is subject to their privacy and security policies as applicable. As a result, we advise you to study the privacy policies of each company whose services you want to use or the services you want to buy.
                        </p>
                        <p>
                            However, just to help give you a clearer picture, your information is shared to the following entities ahead:
                        </p>
                        <ul>
                            <li>To our third parties, which include hotels, vehicle rental agencies, and other companies involved in the travel industry.</li>
                            <li>To our parent businesses, subsidiaries, joint ventures, and corporate affiliations. For example, carrier consolidators or aggregators, other travel agencies providing access to their travel-related records and items through the services, and travel insurance providers. To other travel-related businesses with whom we collaborate to deliver the services.</li>
                            <li>To our business associates, those who provide you with particular goods, services, support, or promotions.</li>
                            <li>To contractors, consultants, and other outside service providers who perform tasks for us. Data analysis, payment processing, email delivery, hosting services, customer support, and marketing services are a few examples of these.</li>
                            <li>To the managers of competitions, sweepstakes, surveys, and other marketing campaigns.</li>
                            <li>To make it easier to identify the people to whom you send messages over the Services. Also, you have the option of sharing your personal information on websites, message boards, chat rooms, profile pages, and other online platforms where you can upload files and content. The best course of action would be for you to be aware that any information you post or reveal through these services will become public and may be available to other users and the general public. We strongly advise you to use extreme caution if you decide to disclose any of your information on the services.</li>
                            <li>To individuals who are linked to you on social media, other visitors to your website, and the provider of your social media account. The privacy rules of your social media site will apply to the data we disclose. Simply avoid linking your computer to any of your social media accounts and refrain from engaging in social sharing on the Services to give us permission not to share your personal information with other users or social media account providers.</li>
                            <li>For the purposes of reorganization, joint venture, sale, merger, assignment, transfer, or disposition of shares and valuable items to third parties (including in connection with bankruptcy).</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

