
footer.footer_bg.margin-section2 .deal-txt h6{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    color: #f2f2f2;
}
footer.footer_bg.margin-section2 .deal-txt ul li a {
    color: #d2d2d2;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}
.footer_bg .deal-txt p {
    color: #f2f2f2;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
}
footer.footer_bg.margin-section2 .deal-txt .contact-footer span {
    color: #ffffff;
    font-size: 18px;
    font-weight: 200;
}.footer_bg.margin-section2 .deal-txt .contact-footer h4 {
    margin-top: 15px;
    color: whitesmoke;
    font-size: 24px;
}
footer.footer_bg.margin-section2 .deal-txt .contact-footer a {
    color: white;
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
}

footer .social ul li {
    list-style: none;
    float: left;
    padding: 2px 7px;
    font-size: 15px;
  
}

footer .social ul li a i {
    color: #787878;
}

footer .social ul li a i:hover {
    color: #fff;
}
footer.footer_bg.margin-section2 .white-bg {
    padding: 15px 0px;
    margin-top: 30px;
}
footer.footer_bg.margin-section2 .white-bg .container {
    border-top: 1px solid rgb(60 60 60);
    padding: 20px 0 0 0;
}
footer.footer_bg.margin-section2 .white-bg p, a {
    font-size: 12px;
    margin: 0px;
    font-weight: 300;
    text-align: center;
    color: #878787;
    letter-spacing: 0.5px;
    text-decoration: none;
}
footer.footer_bg.margin-section2 .white-bg img {
    width: 70%;
}