<footer class="footer_bg margin-section2">

  <div class="container">

      <div class="row">

          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

              <div class="deal-txt">

                  <h6>Quick Links</h6>



                  <ul>

                      <li><a routerLink="about">About us</a></li>

                      <li><a routerLink="term-and-Conditions">Term &amp; Conditions</a></li>

                      <li><a routerLink="privacy-policy">Privacy Policy</a></li>

                      <li><a routerLink="cancellation-refund-policy">Cancellation Refund Policy</a></li>

                      <li><a routerLink="disclamer">disclamer</a></li>

                  </ul>

              </div>

          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

              <div class="deal-txt">

                  <h6>Top Destinations</h6>



                  <ul>

                      <li><a routerLink="flights-to-miami">Flights to Miami </a></li>

                      <li><a routerLink="">Flights to London</a></li>

                      <li><a routerLink="">Flights to Las Vegas</a></li>

                      <li><a routerLink="">Flights to Paris</a></li>

                  </ul>

              </div>

          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

              <div class="deal-txt border-r">

                  <h6>Top Airlines</h6>



                  <ul>

                      <li><a routerLink="about">Aer Lingus Flights</a></li>

                      <li><a routerLink="">Air Canada Flights </a></li>

                      <li><a routerLink=""> American Airlines Flights</a></li>

                      <li><a routerLink="">British Airways Flights</a></li>

                  </ul>

              </div>

          </div>



          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

              <div class="deal-txt">

                  <p>Contact Us</p>

                  <div class="contact-footer">

                      <span>Call us:</span>

                      <h4>+1-888-316-7360</h4>

                      <i class="fa-regular fa-at"></i>

                      <a routerLink="mailto:support@sprucefare.com">

                        <i class="fa fa-envelope" aria-hidden="true"></i> support@sprucefare.com</a>

                  </div>



              </div>

          </div>

      </div>

  </div>

  <div class="white-bg">

      <div class="container">

          <div class="row align-items-center">

              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">

                  <img src="assets/images/trustpilot-1.png">

              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">

                  <img src="assets/images/credit-card-icons.png">

              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">

                  <p>All Rights Reserved, <a routerLink="">Sprucefare</a></p>

              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">

                  <div class="social">

                      <ul>

                          <li><a routerLink=""> <i class="fa fa-facebook-square" aria-hidden="true"></i> </a></li>

                          <li><a routerLink=""> <i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>

                          <li><a routerLink=""> <i class="fa fa-instagram" aria-hidden="true"></i></a></li>

                          <li><a routerLink=""> <i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>



                      </ul>

                  </div>

              </div>

          </div>

      </div>

  </div>

</footer>