<section class="bg-image-terms">
  <div class="container">
    <div class="row">
      <div class="about-banner">
        <h2>Terms and Conditions</h2>
      </div>
    </div>
  </div>
</section>

<section id="tour_details_main" class="section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="terms_service_content">
          <div class="terms_item">
            <h4>Terms and Conditions</h4>
            <p>
              Before gaining access to, utilizing, or getting any materials,
              information, products, or services, please read these terms and
              conditions of use carefully. You accept these terms and conditions
              as well as our Privacy Policy by using the Sprucefare website. By
              publishing a new version of these Terms on Our Website, we may
              update these Terms at any time and for any reason; however, the
              changes will not impact any rights or duties that already existed.
              The Terms in effect at the time of your use shall apply if you
              continue to use Our Website after the publication of the updated
              Terms. Please check these Terms frequently for updates.
            </p>
            <p>We request you to keep the following factors in mind:</p>
          </div>
          <div class="terms_item">
            <h4>We don't directly sell our services:</h4>
            <p>
              Ours is a strict travel website, if you may wonder. The travel
              services and goods you can access through our website, such as
              flights, lodging, rental cars, packages, and travel insurance ARE
              NOT provided, owned, or controlled by Sprucefare. It's the job of
              these third parties who manage travel providers and make the
              travel products available. Your booking is subject to the terms
              and privacy policies of the travel operator, which you must accept
              and abide. You must also concur with and comprehend the terms of
              the actual travel provider (airline, hotel, tour operator, etc.)
              who is responsible for organizing your trip. If you wish to get in
              touch with a travel provider and avail services via them, do it at
              your own risk. Sprucefly WILL NOT bear any responsibilities of
              unseen consequences it may have rendered through booking.
            </p>
            <p>
              Any sponsorship or approval between the two parties is not in any
              way implied, suggested, or established by Sprucefare on our
              website. Prices that are made available by or collected from
              travel providers are hosted by Sprucefare. Sprucefare disclaims
              all liability for the correctness, completeness, or timeliness of
              such content. We are unable to guarantee the pricing listed on our
              website because we have no control over the travelling rates that
              fluctuate frequently.
            </p>
          </div>
          <div class="terms_item">
            <h4>Booking through Sprucefare:</h4>
            <p>
              Our website merely serves as a user interface when you place your
              bookings through it. Sprucefare is not involved in the creation of
              the travel product description, determining the pricing and any
              fees, or in providing the travel products that you book, and as a
              result, Sprucefare has no liability related to the booking or the
              travel product. You agree to address and resolve any problems or
              disagreements you may have with your reservation and/or the travel
              product directly with the travel provider and not with us.
            </p>
          </div>
          <div class="terms_item">
            <h4>Using Our Website:</h4>
            <p>
              You must be of legal age and be able to form legally binding
              contracts in order to use or register as a user of our website or
              tours. You must provide us with information that's relevant and
              current about you. In addition, you are in charge of keeping the
              confidentiality of your passwords, login details, and account
              information if you register as a user and make a reservation. If
              you allow anybody to use your password and login information (with
              or without your consent), and permit access to your travel plans
              is ENTIRELY YOUR RESPONSIBILITY, in case anything goes wrong. In
              case you happen to notice any sort of unusual/unanticipated
              activity in your account, you must immediately reach out to us at
              support@sprucefare.com and inform us on the issue which makes you
              believe that your account is no longer safe (for example, a
              computer or mobile device you used to access our website with, has
              been lost/stolen, or your information has been disclosed to a
              third party without your consent).
            </p>
            <p>
              You may only use our website to look for legitimate travel
              discounts; you are not permitted to use it to make a reservation
              that is fictitious, fraudulent, speculative, or made in advance of
              demand. By doing this, you consent to abide by all applicable
              rules, including those governing the export of technical data, for
              the relevant countries. Additionally, you acknowledge that you
              will not do any of the following actions without Sprucefare's
              prior written consent:
            </p>

            <ul>
              <li>
                Use any manual or automatic method to access the website for any
                purpose other than your own personal use or to add Sprucefare
                pages to a search index. Keep in mind that it is not permitted
                to use any automated system or software, whether for profit or
                non-profit, to scrape data from our website;
              </li>
              <li>
                Employ any tool, program, or procedure that prevents or tries to
                prevent our website from operating normally, or perform any
                activity that places an undue burden on our computer or network
                hardware;
              </li>
              <li>
                Using our website's features for any illegal, damaging, or
                otherwise undesirable or inappropriate purpose that tampers our
                reputation in the market and the competition it follows;
              </li>
              <li>
                Use our website to gather or save other people's personal
                information;
              </li>
              <li>
                Exploit our website by copying, reproducing, selling, trading,
                or buying;
              </li>
              <li>Any advertising or marketing materials to our website;</li>
            </ul>
            <p>
              If any such activity falls into our/our team's radar, keep in mind
              that we reserve the right to revoke, suspend, or otherwise
              restrict your access to any or all of the website's features at
              any time, without warning or liability.
            </p>
            <p>Furthermore, you must agree to strictly NOT:</p>

            <ul>
              <li>
                Impersonate someone or something, falsely claim to be associated
                with someone or something, or modify the content of other
                persons or users in any other way;
              </li>
              <li>
                Disrupt, deactivate, or otherwise tamper with security-related
                information or regulations of our website/features that
                prohibit, restrict, or enforce limitations on the use or
                duplication of any content, or features that are related to our
                website's ability to enforce security;
              </li>
              <li>
                Intentionally or unintentionally break any law, statute,
                ordinance, or rule that is relevant or incite others to do so;
              </li>
              <li>Enquire about someone's personal details;</li>
              <li>Give inaccurate or misleading information;</li>
            </ul>
            <p>
              If you end-up witnessing any such misuse of our website, feel free
              to reach out to our team at support@sprucefare.com
            </p>
          </div>
          <div class="terms_item">
            <h4>Ownership</h4>
            <p>
              All the text, photos, software, trademarks, service marks, and
              other materials on our website are the property of us, our
              corporate affiliates, the travel suppliers, and other licensors.
              Except when doing so for your own personal, non-commercial use,
              you are not permitted to reproduce or transfer any of the content.
              Notices of copyright, trademark, and other intellectual rights
              must be printed on every copy you print. Additional non-Sprucefare
              brand names for goods, services, or businesses are the property of
              the corresponding third parties and are only listed for
              identification purposes. For more detailed information on these
              designations and their registration status, you should get in
              touch with the relevant third party. No license or right to use
              any of the marks on our website is given to you by your use of or
              access to it, by any means.
            </p>
          </div>

          <div class="terms_item">
            <h4>Booking trips:</h4>
            <p>
              When you book your journey, you are solely responsible for the
              travel-related data and other content that you upload, send, or
              share with us or others. You also represent and warrant that you
              are not transferring or sharing any information with which you do
              not have authorization. You are responsible for making a copy of
              everything you give us about your trip(s) and paying for any
              replacements.
            </p>
            <p>
              When you submit us the details of your trip or make a reservation
              through Sprucefare, you give us permission to make as many copies
              of the information as we believe necessary to make it easier to
              store and assimilate. By giving us all the information we require
              regarding your trip, you warrant that you have the authority to
              grant us an unquestionable, perpetual, non-exclusive, completely
              funded, worldwide license to use, copy, modify, reformat,
              translate and distribute the information we receive from you for
              any purpose, including business, commercial, marketing,
              advertising, or otherwise. You also represent and warrant that you
              have the right to/or incorporate into other works. The updated
              information is subject to removal at any time, but the license you
              gave will continue to be in effect. You must be aware that we are
              neither in charge of nor accountable for examining your
              information. We do, however, reserve the right to at any moment
              examine, amend, or remove any information pertaining to your
              reservations/trips or your account.
            </p>
          </div>

          <div class="terms_item">
            <h4>Your Input:</h4>
            <p>
              You are always welcome to contact us with questions and comments.
              Please be aware that we do not accept any responsibility for
              assessing unsolicited business ideas (such as those for new goods
              or advertisements), and we disclaim all duty for any similarity
              between those concepts and elements that may appear in future
              Sprucefare products or services. Please keep in mind that you are
              responsible for the reliability, originality, and copyright of any
              work that you contribute. Please refrain from including any
              confidential information in your messages. Any and all
              intellectual property rights in materials you send us become
              Sprucefare's sole property. Additionally, by sending us your
              feedback, you are giving us an unrestricted, perpetual,
              non-exclusive, transferable, fully paid license to use, copy,
              modify, publicly display, reformat, translate, excerpt (in whole
              or in part), and distribute the feedback for any purpose,
              including business, commercial, marketing, advertising, or other.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
