<section class="bg-image-terms">
    <div class="container">
      
          <div class="row ">
            <div class="about-banner">
                <h2>Disclamer</h2>
            </div>
          </div>
 
    </div>
  </section>


  
  <section id="tour_details_main" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="terms_service_content">
                    <div class="terms_item">
                        <h4>Disclamer</h4>
                        <p>
                            This is to let you know that the content on this website is not in any way binding on the business and is merely there to inform you about Sprucefare. Notwithstanding the best efforts put into compiling the information on this website, no warranty or representation is made as to the accuracy or completeness of the information provided. By using the website, you agree that Sprucefare will not be held liable for any loss, whether direct or indirect, resulting from the use of the information therein. The standard terms and conditions of this travel agency govern all restrictions and exclusions that might apply to you.
                        </p>
                        <p>
                            We urge you to consider the following points mentioned below as well:
                        </p>
                        <ul>
                            <li>US dollars are used to indicate the flight costs. Please be aware that until tickets are purchased, prices and availability are subject to change. The fluctuation is constant.</li>
                            <li>Carefully review your documents. The passenger will be required to give up the ticket if the names on the ID and the ticket do not match.</li>
                            <li>Please confirm all flights both before you leave and at each stopover location. If any changes are made, this will assist you in staying informed.</li>
                            <li>Any specified change fees may be increased or subject to penalties for changing your ticket. Reservation changes must be requested in advance. If you cancel a non-refundable ticket, you can also incur fees.</li>
                            <li>Typically, check-in is required 2 hours before departure for domestic destinations and 3 hours before departure for foreign destinations. Please carefully review the check-in requirements as boarding may be denied if you arrive after the permitted times.</li>
                            <li>The relevant airline reserves the right to alter or cancel flight schedules at any time due to weather and other considerations.</li>
                            <li>The travel agent solely serves as a middleman in all disputes relating to your flight. However, the travel agency disclaims all liability for any defaults on the part of suppliers, third parties, airline companies, or other businesses or corporations. The presence of any links does not imply that we agree with the opinions presented within.</li>
                            <li>Be aware that losses brought on by cancellation, accident, illness, or stolen or damaged belongings might not be entirely covered by your personal insurance. It's usually a good idea to take advantage of any supplementary insurance that's supplied to you.</li>

                            <li>Tickets that have been destroyed, lost, or stolen must be paid for up front until the relevant airline issues a refund.</li>
                            <li>When checking in two or more bags or any non-standard luggage, the corresponding airline retains the right to impose an extra tax.</li>
                            <li>You may need some valid documents, such as a passport, visa, health certificate, reentry permit, vaccination record, return ticket, or any other type of document, in order to go outside of your native country.</li>
                        </ul>

                        <p>In addition to what’s said above, keep in mind that the respective airline has all the right to avail extra charges for the purchase of an additional ticket apart from the one that is already placed. Please confirm the conditions that apply to your travel by consulting the policies of your chosen airline. The sole owner of the copyright for the information on this website is Sprucefare. You have simple access to this information, but that does not provide you permission to copy and/or distribute it (or engage in any similar activity) without Sprucefare's consent.</p>
                    

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


